PORT="<value>"   # Port express server is listening on
NODE_ENV="<value>"  # This is to specify which mode is the database working in check ./models/index.js/line: 6 you can also switch to "testing" or "production"
DEVELOPMENT_DB="<value>"    # Development database URI 
TESTING_DB="<value>"               # Testing database URI
PRODUCTION_DB="<value>"      # Production database URI